/* Google Fonts */


#manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* Banner */
#btn{
    margin-top: 12px;
}
/* products  */
#product-card{
    background: linear-gradient(
       rgb(173, 168, 168) , rgb(252, 249, 249)
    );
    text-align: center;
    padding: 20px 20px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px black;
}
#product-img{
    margin: auto;
}
#img-title{
    font-size: 25px;
    font-weight: bold;
}
#img-dspt{
    color:#1e1919;
}
/* Great  */
#great-img{
    margin: auto;
}
#z-three{
    position: relative;
    top: -70px;
}
#z-one{
    position: relative;
    top: 150px;
}
#z-two{
    position: relative;
    right: 40px;
}
#z-img{
    position: relative;
    top: -40px;
    right: 40px;

}
#our-btn{
    margin-top: 12px;
}
/* news */
#h3{
    font-weight: bold;
    font-size: 25px;
}
#news-container p{
    width: 85%;
}
#news-card{
    border: 2px solid rgb(200, 198, 198);
    padding: 15px ;
    border-radius: 12px;
}
#news-btn{
    border: none;
    background-color: rgb(9, 9, 9);
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
}


/* Responsive */
@media screen and (max-width:576px)  {
    main{
        width: 90%;
        margin: auto;
    }
    /* Banner  */
    #banner-container{
        flex-direction: column-reverse;
        
    }
    #banner-title{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    #banner-dspt{
        text-align: center;
        width: 100%;
    }
    #center{
        text-align: center;
        margin-top: 18px;
    }
    #banner-content-one{
        margin-top: 100px;
    }
    #rating-container{
        position: relative;
        top: -150px;
        right: 25px;
        
    }
    #rating-star{
        font-size: 20px;
        position: relative;
        top: -0.5px;

    }
    #rating-text{
        font-size: 20px;
        
    }
    #rating-dspt{
        font-size: 12px;
        width: 100%;
    }
    #btn{
        font-size: 18px;
        
    }
    /* product */
    #products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #futur-title{
        font-size: 30px;
    }
    #futur-dspt{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    /* great */
    #great-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #content-two-text{
        font-size: 20px;
    }
    #content-text-two{
        font-size: 22px;
    }
    #great-content-two{
        position: relative;
        left: -1px;
        margin-top: 50px;
    }
    /* our c */
    #our-container{
        flex-direction: column-reverse;
        
    }
    #our-card-two{
        position: relative;
        top: -100px;
    }
     #z-one, #z-three{
        width: 90%;
        margin: auto;
        position: relative;
        
    }
    #z-one{
        margin-top: -15px;
    }
    #z-two, #z-one, #z-three{
        width: 90%;
     
    }
    #our-client{
        height: auto;
    }
    #z-three{
      margin-top: -50px;

    }
    #z-two{
        /* margin-top: 160px; */
        position: relative;
       left: 10px;
    }
    #z-dspt{
        position: relative;
        top: -40px;
    }
    #z-dspt-two{
        position: relative;
        top: -40px;
    }
    #our-dspt{
        width: 100%;
    }
    #our-client{
        padding-top: 40px;
    }
    #our-text{
        font-size: 25px;
    }
    #our-btn{
        font-size: 20px;
    }
    #our-card-one{
        position: relative;
        top: -100px;
    }
    /* news */
    #news-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #news-img{
        width: 100%;
    }
    #h3{
        font-size: 20px;
    }
    #news-title{
        font-size: 25px;
    }
    /* footer  */
    footer{
        height: auto;
        padding-bottom: 50px;
    }
    #two-container{
        flex-direction: column;
    }
    #hide{
        display: none;
    }
}