/* Google Fonts */


#manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* Banner */
#btn{
    margin-top: 12px;
}
/* products  */
#product-card{
    background: linear-gradient(
       rgb(173, 168, 168) , rgb(252, 249, 249)
    );
    text-align: center;
    padding: 20px 20px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px black;
}
#product-img{
    margin: auto;
}
#img-title{
    font-size: 25px;
    font-weight: bold;
}
#img-dspt{
    color:#1e1919;
}
/* Great  */
#great-img{
    margin: auto;
}





/* Responsive */
@media screen and (max-width:576px)  {
    /* Banner  */
    #banner-container{
        flex-direction: column-reverse;
        
    }
    #banner-title{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    #banner-dspt{
        text-align: center;
        width: 100%;
    }
    #center{
        text-align: center;
        margin-top: 18px;
    }
    #banner-content-one{
        margin-top: 100px;
    }
    #rating-container{
        position: relative;
        top: -150px;
        right: 18px;
        
    }
    #rating-star{
        font-size: 20px;
        position: relative;
        top: -0.5px;

    }
    #rating-text{
        font-size: 20px;
        
    }
    #rating-dspt{
        font-size: 12px;
        width: 100%;
    }
    #btn{
        font-size: 18px;
        
    }
    /* product */
    #products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #futur-title{
        font-size: 30px;
    }
    #futur-dspt{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    /* great */
    #great-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #content-two-text{
        font-size: 20px;
    }
    #content-text-two{
        font-size: 22px;
    }
    #great-content-two{
        position: relative;
        left: -1px;
        margin-top: 50px;
    }
}